body {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #F2F2F2;
}

.coming-soon {
    background-color: white;
}

.coming-soon img {
    width: 50vw;
}

.coming-soon p {
    width: 50vw;
}

#appointment-button {
    border: 1px solid lightblue;
    background-image: url('pictures/blue-background.jpg');
    font-size: 14px;
}

.top-background img {
    position: absolute;
    width: 100vw;
}

#logo {
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

.nav-link {
    color: white !important;
}

#navbarNav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-text,
#arrow {
    position: relative;
    color: white;
    width: 20vw;
}

#top-text>span {
    color: rgba(255, 255, 255, 0.6);
}

#chair,
#appointment-form {
    position: relative;
    width: 43vw;
}

h2,
h4 {
    color: #0F1C49;
    font-family: Roboto Slab;
    padding-bottom: 10px;
}

#location,
input,
textarea {
    border: 1px solid #EEEEEE !important;
}

#appointment-button {
    background-color: #09A4D8;
}

#experience-text>span {
    width: 55vw;
    text-align: center;
    color: #878DA4;
}

p {
    font-family: Rubik;
    color: #09A4D8;
}

#services-text>span,
ul {
    color: #878DA4;
}

.doctors {
    color: #878DA4;
}

.doctors .even {
    margin-top: 10%;
}

.doctors div>img {
    margin-bottom: 10px;
}

.services-img .row {
    display: flex;
}

.services-img .column {
    flex: 50%;
}

.services-img .column img {
    width: 90%;
    height: auto;
}

#services-second-column {
    margin-top: 10%;
}

footer>p {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 15px;
    margin-bottom: 0;
}

footer {
    background-color: #103365;
}

@media only screen and (max-width: 992px) {

    #chair img {
        display: none;
    }

    body {
        background-color: rgba(30, 134, 169, 0.04);
    }

    #top-text h1 {
        color: #0F1C49;
    }

    .top-background img {
        height: 100vh;
    }

    #appointment-button {
        margin-top: 4vh;
    }

    #top-text p {
        color: #0F1C49;
    }

    h2 {
        text-align: center;
    }

    #services-text>p {
        text-align: center;
    }

    #services-text>span {
        display: none;
    }

    #appointment-button {
        width: 100%;
    }

    #appointment-form {
        width: 80vw;
    }
}